{% extends 'base.html' %}
{% block titulo %}Login Registration{% endblock %}
{% block contenido %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">NOTICIAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Inicio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="vh-100" style="background-color: rgb(182, 215, 215);">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                
                    <h1>Formulario de Login</h1>
                    <hr>
                
                    <form action="/procesar_login" method="post">
                        <div class="mb-3">
                            <label for="identificacion" class="form-label">Correo Electrónico</label>
                            <input type="text" name="identificacion" class="form-control" id="identificacion" aria-describedby="identificacionHelp" placeholder="Ejemplo: maria@gmail.com">

                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-success">Ingresar al Sistema</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}